@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #0d1419;
  --darkBlue: #0d1419;
  --blue: #2b4054;
  --lightBlue: #476c8d;
  --orange: #cfad56;  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 body {
  background: rgb(13,20,25);
  background: linear-gradient(180deg, #0d1419 0%, #010204 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1, h2, h3, li {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 300;
  
}

p{
  font-family: 'Noto Sans', sans-serif;
  color: white;
  line-height: 1.3rem;
  font-weight: 300;
  font-size: 14px;  
}

strong {
  color: var(--orange);
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

small {
  font-family: 'Montserrat', sans-serif;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* In styles/global.css o il file CSS appropriato */
.custom-scrollbar::-webkit-scrollbar {
 padding: 1rem; /* Altezza della scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--blue); /* Colore del "pollice" (parte che si muove) */
  border-radius: 10px; /* Angoli arrotondati */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--lightBlue); /* Colore quando il pollice è in hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--darkBlue); /* Colore dello sfondo della scrollbar */
  border-radius: 10px; /* Angoli arrotondati */
}
